{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
<tbody>
    <tr>
        <td>2023-11-23</td>
        <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
</tbody>
{% endblock %}
